%h1 Builds

%table.table.condensed
  - @builds.each do |build|
    %tr{:class => build_bootstrap_class(build)}
      %td
        - if build.succeeded?
          %i.icon-ok-sign
        - elsif build.failed?
          %i.icon-remove-sign
        - else
          %i.icon-time

        = link_to(build.repo, "https://github.com/#{build.repo}")
      %td= link_to(build.ref, build.ref_url)
      %td= link_to('View on Jenkins', build.jenkins_url)
      %td= link_to(build.status, build.jenkins_console_url)
      %td
        %small= build.created_at.strftime('%m/%d/%Y %I:%M %p')
      %td= link_to '<i class="icon-search"></i>'.html_safe, build
      %td= link_to '<i class="icon-remove"></i>'.html_safe, build, method: :delete, data: { confirm: 'Are you sure?' }

%br

= paginate @builds, :theme => 'bootstrap'
