%p#notice= notice

%p
  %b Sha:
  = @build.sha
%p
  %b Jenkins:
  = link_to("View in Jenkins", @build.jenkins_url)
  = link_to("View Console Output", @build.jenkins_console_url)
%p
  %b Status:
  = @build.status

= link_to 'Edit', edit_build_path(@build)
\|
= link_to 'Back', builds_path
