%table.table.condensed
  - @projects.each do |project|
    %tr{:class => build_bootstrap_class(project.last_build)}
      %td
        - if project.last_build.try(:succeeded?)
          %i.icon-ok-sign
        - elsif project.last_build.try(:failed?)
          %i.icon-remove-sign
        - else
          %i.icon-time

        = link_to(project.repo, "https://github.com/#{project.repo}")
      %td
        - if project.last_build
          = link_to(project.last_build.ref, project.last_build.ref_url)
      %td= link_to("View on Jenkins", project.jenkins_url)
      %td= link_to("Builds", project_builds_url(project))
      %td
        - if project.last_build
          %small= project.last_build.created_at.strftime('%m/%d/%Y %I:%M %p')
      %td= link_to '<i class="icon-repeat"></i>'.html_safe, project_builds_path(project), :method => :post
      %td= link_to '<i class="icon-edit"></i>'.html_safe, edit_project_path(project)
      %td= link_to '<i class="icon-remove"></i>'.html_safe, project, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Project', new_project_path
