%p#notice= notice

%p
  %b Repo:
  = @project.repo
%p
  %b Jenkins:
  = link_to("View project in Jenkins", @project.jenkins_url)

= link_to 'Edit', edit_project_path(@project)
\|
= link_to 'Back', projects_path
